
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tarjeta {
    background: #ffffff;
    width: 350px;
    padding: 25px;
    text-align: center;
    
 
    margin: 20px;
    border: 3px solid #222;
    padding: 20px;
    border-radius: 15px;

  
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}


.foto {
    width: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid #2575fc;
}


.nombre {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}


.dato {
    font-size: 15px;
    margin: 5px 0;
    color: #444;
}


.descripcion {
    margin: 15px 0;
    line-height: 1.5;
    color: #555;
}


.boton {
    display: inline-block;
    background-color: #2575fc;
    color: white;
    padding: 10px 20px;
    margin: 8px auto;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.boton:hover {
    background-color: #6a11cb;
}
